<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of uploaded jars</title>
    <meta name="author" content="Argan Wang">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript" src="/static/js/jquery.min.1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min-1.8.9.js"></script>
    
    <!-- Le styles -->
    <link href="/static/css/bootstrap-1.4.0.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      #fromJar { float: right; width: 300px; height: 50px; background: #ccc; font-size:16px}
      #libJars { float: right; width: 300px; height: 100px; border: 1px solid #999; font-size:16px}
      #btnSubmit {float:right}
    </style>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    
	<script language="javascript">
	function dropFunc(e,ui) {
        var ele = ui.draggable;
        $(this).html($(ele).html());
        $("<input type='hidden' name='fromJar' value='"+$(ele).attr("id")+"'>").appendTo($(this));
        // $(this).attr("jarid",$(ele).attr("id"));
	}
	function dropFunc2(e,ui) {
        var ele = ui.draggable;   
        var append = $("<li class='libJars'></li>");
        append.html($(ele).html()).appendTo(this);
        //append.attr("jarid",$(ele).attr("id"));
        $("<input type='hidden' name='libJars' value='"+$(ele).attr("id")+"'>").appendTo($(this));
	}
	$(document).ready(function(){     
	    $(".draggable").each(function() {   
	      $(this).draggable({helper:"clone"});      
	      });    
	    $("#fromJar").droppable({drop:dropFunc});      
	    $("#libJars").droppable({drop:dropFunc2});      
	});//ready
	</script>
  </head>
  <body>
    #include("/menu.vm")
	    <div class="content">
	    <div class="row">
        <div class="hero-unit">
            <h3>Uploaded files</h3>
	        <table>
	        <tr>
	          <td>序号</td><td>文件名</td><td>版本</td><td>操作</td>
	        </tr>
	        #if($list && $list.size()>0)
	        #foreach($f in $list)
			 <tr>
			   <td>$velocityCount</td>
			   <td><div><a href="/jarviewer/view.htm?id=$f.id" id="$f.id" class="draggable">$f.obj.origName</a></div></td>
			   <td>$f.obj.version</td>
			   <td>
			     <a href="/jarviewer/download.htm?id=$f.id">下载</a>&nbsp;
			     <a href="/jarviewer/graph.htm?id=$f.id" target="blank">依赖图</a>&nbsp;
			     <a href="/jarviewer/delete.htm?id=$f.id" onclick="return confirm('真的要删除$!f.obj.origName么？');">删除</a>&nbsp;
			     
			   </td>
			 </tr>
			#end
			#else
			 <tr><td>No files yet. </td></tr>
			#end
			 <tr><td colspan="5"><a href="/jarviewer/form.htm">Upload More Files...</a></td></tr>
			</table>
        </div>
        </div>
        <div class="row">
        <div class="hero-unit">
            <form id="matcherForm" method="GET" action="/matcher/result.htm">
          <div class="span6">
            <h2>扫描</h2>
           <div id="fromJar">待扫描的jar放这里。</div>
           <div id="libJars">用来匹配的类库放这里。</div>
            <div><input id="btnSubmit" type="submit" class="btn primary" value="开始扫描"></div>
         </div>
         <div class="span6">
            <h2>&nbsp;</h2>
         </div>
           </form>
        </div>
        </div>
        </div>
        #include("/footer.vm")
    </body>
</html>