<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View $!clzName</title>
    <meta name="author" content="Argan Wang">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap-1.4.0.css" rel="stylesheet">
    ##<link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treeview.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.min.1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jeditable-1.7.2.js"></script>
    <script type="text/javascript" src="/static/js/jquery.treeview-1.4.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-tab.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  <script>
  $(document).ready(function(){
    $("#jar").treeview();
    $('.editable').editable(function(value, settings) { 
         $(this).css({backgroundColor: '#ffe', color:'red',fontSize:'16px'});
         var type = $(this).attr("ftype");
         if ("class" == type) {
         	$("#newClassName").val(value);
         } else {
	         var ovalue = $(this).attr("origValue");
	         var desc = $(this).attr("fdesc");
	         var oldInfo = $("#renameInfo").val();
	         $("#renameInfo").val( oldInfo+"\n"+type+": "+ovalue+" "+desc+" to "+ value+" ");
         }
	     return(value);
	  }, { 
	     type    : 'text',
	     submit  : 'OK',
	     tooltip : 'Click to edit',
	 });
  });
  
  /**
   * 提交修改信息
   */
  function submitForm() {
	$("#renameConfig").val($("#renameInfo").val());
    $("#rename_form").submit();
  }
  function search() {
    var clazz = $('#matchClass').val();
    window.location="search.htm?id=$!{id}&q="+clazz;
    return false;
  }
  </script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>

    #include("/menu.vm")
#macro(showClassName $map $name $id)
#set ($info = false)
#set ($namex = $name.replace('[',' ').replace(']',' ').trim())
#set($info = $map.getClassInfo($namex))
#if($info)<a href="/jarviewer/view.htm?id=$id&clz=$namex">$name</a>#else $name #end
#end

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
			<ul id="jar" class="filetree">
			<li><span class="folder">$origName</span>
				<ul>
				#foreach ($entry in $classMap.tree.entrySet())
				  <li class="#if($entry.key.equals("$openPkg"))  #else closed #end"><span class="folder">$entry.key</span>
					  <ul>
					  #foreach($clazz in $entry.value)
					  	<li class="file"><a href="/jarviewer/view.htm?id=$id&clz=${clazz.className}" title="$clazz.className">${clazz.classShortName}</a></li>
					  #end
					  </ul>
				  </li>
				#end
				</ul>
			</li>
			</ul>
        </div>
      </div>
      
      <div class="content">
      <form onSubmit="return search();">Goto:<input type="text" id="matchClass"><input type="button" onclick="search();" value="Go"></form>
		#set($clzInfo = $classMap.getClassInfo($clzName))
        #if($clzInfo)
        <!--
       <ul class="tabs">
		  <li class="active"><a href="#baseinfo"  data-toggle="tab">基本信息</a></li>
		  <li><a href="#fields" data-toggle="tab">属性</a></li>
		  <li><a href="#methods" data-toggle="tab">方法</a></li>
		  <li><a href="#asmdump" data-toggle="tab">ASM汇编</a></li>
		  <li><a href="#depgraph" data-toggle="tab">我的依赖</a></li>
		  <li><a href="#depsonme" data-toggle="tab">依赖我的</a></li>
		</ul>
		-->
		<form id="rename_form" method="POST" action="/renamer/edit.htm?id=$id">
		   <input type="hidden" name="className" value="$clzInfo.className" id="className">
		   <input type="hidden" name="newClassName" value="$clzInfo.className" id="newClassName">
		   <input type="hidden" name="renameConfig" value="" id="renameConfig">
		</form>
		<div class="tab-pane" id="baseinfo"><!-- tab baseinfo -->
          <div class="span9">
            <h2>基本信息</h2>
            <table>
              <tr><td>类名(E)</td><td><div id="clazzName" class="editable" ftype="class" fdesc="" origValue="$clzInfo.className">$clzInfo.className</div>
              #if($clzInfo.isInterface())<font color="red">接口</font>#end
              <a href="/jarviewer/asmdump.htm?id=$id&clz=${clzInfo.className}.class" target="_blank">ASMDump</a>
              <a href="/jarviewer/graph.htm?id=$id&clz=${clzInfo.className}&type=mydeps" target="_blank">我的依赖</a>
              <a href="/jarviewer/graph.htm?id=$id&clz=${clzInfo.className}&type=depsonme" target="_blank">依赖我的</a>
              </td></tr>
            #if($clzInfo.superClass)
            <tr><td>基类</td><td>#showClassName($classMap $clzInfo.superClass.className $id)</td></tr>
            #elseif($clzInfo.superClassName)
            <tr><td>基类</td><td>$clzInfo.superClassName</td>
            #else
            <tr><td>基类</td><td>java/lang/Object</td>
            #end
            #if($clzInfo.interfaces.size()>0)
            <tr><td>接口列表</td>
            <td>
            <ol>
              #foreach($i in $clzInfo.interfaces)
              <li>#showClassName($classMap $i.className $id)</li>
              #end
            </ol>
            </td>
            </tr>
            #else
            <tr><td>接口</td><td>无</td></tr>
            #end
            #if($clzInfo.children.size()>0)
            <tr><td>子类列表</td>
            <td>
            <ol>
              #foreach($i in $clzInfo.children)
              <li>#showClassName($classMap $i.className $id)</li>
              #end
            </ol>
            </td></tr>
            #else
            <tr><td>子类</td><td>无</td></tr>
            #end
            </table>
            <p><a class="btn primary" href="#" onclick="return submitForm();">保存修改</a></p>
          </div>
          <div style="display:none">
             <h2>编辑信息</h2>
             <textarea name="renameInfo" id="renameInfo" cols="150" readonly></textarea>
          </div>
        </div>
        <div class="tab-pane" id="fields"><!-- tab fields -->
          <div class="span9">
            <h2>属性</h2>
            #if($clzInfo.fields.size()>0)
            <p>属性列表</p>
            <table>
            <tr><td>属性名(E)</td><td>类型</td><td>描述</td></tr>
              #foreach($i in $clzInfo.fields)
              <tr><td class="editable" ftype="field" fdesc="$i.desc" origValue="$i.name" id="f_$velocityCount">$i.name</td><td>#showClassName($classMap $i.type $id)</td><td id="f_${velocityCount}_desc">$i.desc</td></tr>
              #end
            </table>
            #else
            <p>属性：无</p>
            #end
         </div>
        </div>
        <div class="tab-pane" id="methods"><!-- tab methods -->
          <div class="span9">
            <h2>方法</h2>
            #if($clzInfo.methods.size()>0)
            <p>方法列表</p>
            <table>
            <tr><td nowrap>方法名(E)</td><td nowrap>返回类型</td><td>参数列表类型</td><td>描述</td></tr>
              #foreach($i in $clzInfo.methods)
              <tr><td class="#if($i.name.indexOf("<") == -1)editable#end" ftype="method" fdesc="$i.desc" origValue="$i.name" id="m_$velocityCount">$i.name.replaceAll("<","&lt;").replaceAll(">","&gt;")</td><td>#showClassName($classMap $i.returnType $id)</td><td>
                <ol>
	              #foreach($x in $i.parameterTypes)
	              <li>#showClassName($classMap $x $id)</li>
	              #end
	            </ol>
              </td>
              <td id="m_${velocityCount}_desc">$i.desc</td>
              </tr>
              #end
            </table>
            #else
            <p>方法：无</p>
            #end
          </div>
        </div>
        </div><!-- end of tab baseinfo -->
        
        <div class="span6 tab-pane fade" id="asmdump"><!-- tab asmdump -->
        asmdump
        </div><!-- end of tab asmdump -->
        
        <div class="span6 tab-pane fade" id="depgraph"><!-- tab depgraph -->
        depgraph
        </div><!-- end of depgraph -->
        
       #else
       <div class="row">
          <div class="span6">
            <h2>请选择一个类查看...</h2>
         </div>
        </div>
       #end
        <hr>

        #include("/footer.vm")
      </div>
    </div>

  </body>
</html>